$LinearGradientBannerColors: (
    "Gradientleft": #e2ab00,
    "GradientCenter": #af5a35,
    "GradienCentertRight": #a24542,
    "GradientRight": #922b53
    );
$LinearGradientBgColorMain: (
    "GradientTop": #21232E,
    "GradientBotoom": #3B3F50
    );



$MediumTextFont: Fresca;
$BigTextFont: source sans pro;
$BgColorFooter: #3B3F50;
$ButtonColor: #E3AD00;
$AfterColor: #E14E33;
$BgColorSectionCard: #3B3F50;
$HeaderBg: url(../img/m-h-night.jpg);
$TextColorTop: White;
$TextColorFooter: white;
$logoPMarginTop: 25px !important;
$logoPSpanMargin: 0px;
$LogofontWeight: 600 !important;
$TextOpacity: 1;
$TextColorlogo: white;
$FontLogoP: 800;
$HeaderHeadingMarginTop: 65px;
$CardTextLineHeight: 150%;
$SectionCardTexMarginLeft: 35px;
$SectionCardTexMarginright: 35px;
$SectionCardTexColor: #d1d1d1;
$FooterTextColor: #d1d1d1;
