$LinearGradientBannerColors: (
    "Gradientleft": #66960c,
    "GradientCenter": #487777,
    "GradienCentertRight": #3866b2,
    "GradientRight": #305ecf
    );
$LinearGradientBgColorMain: (
    "GradientTop": #FFFFFF,
    "GradientBotoom": #21232E
    );



$MediumTextFont: Hind;
$BigTextFont: source sans pro;
$BgColorFooter: #21232E;
$ButtonColor: #699900;
$AfterColor: #1FBBE9;
$BgColorSectionCard: #21232E;
$HeaderBg: url(../img/m-h-day.jpg);
$TextColorTop: #2c2e3c;
$TextColorFooter: white;
$logoPMarginTop: 25px !important;
$logoPSpanMargin: -10px;
$LogofontWeight: 400 !important;
$TextOpacity: 0.7;
$TextColorlogo: black;
$FontLogoP: 500;
$HeaderHeadingMarginTop: 55px;
$CardTextLineHeight: normal;
$SectionCardTexMarginLeft: 25px;
$SectionCardTexMarginright: 25px;
$SectionCardTexColor: #c0c3ce;
$FooterTextColor: #c0c3ce;
